<div class="lyt">
    <div class="lyt-1">
        <div class="header-mobile-menu">
            <div class="mobile-menu" data-mobile-menu="">
                <div class="mobile-menu-nav-item p-y3">
                    <a href="{{ "/" | relative_url }}" class="text-h3 color-neutral-1 u-display-block">Home</a>
                </div>
                <div class="mobile-menu-nav-item p-y3">
                    <a href="{{ "/teams" | relative_url }}" class="text-h3 color-neutral-1 u-display-block">Teams</a>
                </div>
                <div class="mobile-menu-nav-item p-y3">
                    <a href="{{ "/besluiten" | relative_url }}" class="text-h3 color-neutral-1 u-display-block">Besluiten</a>
                </div>
                <div class="mobile-menu-nav-item p-y3">
                    <a href="{{ "/about" | relative_url }}" class="text-h3 color-neutral-1 u-display-block">About</a>
                </div>
                <div class="mobile-menu-nav-item p-y3">
                    <a href="{{ "/about" | relative_url }}" class="text-h3 color-neutral-1 u-display-block">Feedback</a>
                </div>
            </div>
        </div>
    </div>
</div>